.analizer-container {
  width: 60%;
  display: flex;
  flex-flow: column nowrap;
  margin: auto;
}
.analizer {
  width: 100%;
  height: auto;
  background: linear-gradient(180deg, rgba(239, 239, 239, 0.7) 0%, rgba(239, 239, 239, 0.3) 100%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  border-radius: 1em;
  margin-top: 2em;
  margin-bottom: 1em;
  padding-bottom: 3em;
  padding-top: 1em;
  color: white;
}

.consola {
  width: 50em;
  height: auto;
  background: linear-gradient(180deg, rgba(239, 239, 239, 0.7) 0%, rgba(239, 239, 239, 0.3) 100%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  border-radius: 1em;
  margin: auto;
  margin-bottom: 2em;
  padding-bottom: 3em;
  padding-top: 1em;
  color: white;
}
.editor {
  width: 90%;
  margin: auto;
  height: 70vh;
  margin-top: 1em;
}
.console {
  width: 90%;
  margin: auto;
  height: 20em;
  margin-top: 1em;
}
.con-text {
  margin-left: 1em;
}
.analizar {
  margin-left: 2.3em;
  margin-top: 0.3em;
  width: 7.5em;
  height: 2.5em;
  background: #243b55;
  color: #fff;
  border-radius: 0.5em;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border: none;
  font-weight: 600;
  font-style: italic;
  font-size: 1em;
}
.analizar:hover {
  background: rgba(36, 59, 85, 0.9);
  transition: ease 0.5s;
  cursor: pointer;
}

@media (max-width: 800px) {
  .analizer-container {
    width: 90%;
  }
}
